@import url(Colores.css);
@import url(Header.css);
@import url(Nav.css);
@import url(Info.css);
@import url(Footer.css);

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

a {
  color: #000;
}

.text-center {
  text-align: center;
}


.container {
  text-align: center;
  max-width: 1080px;
  margin: 0 auto 80px auto;
}

.productList {
  display: flex; /* hacer con grid */
  flex-wrap: wrap;
  list-style-type: none;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}

.productList li {
  padding: 2rem;
  width: 20%;
}

.card{
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}

.card img {
  width: 100%;
}
