.info p {
    text-align: justify;
    margin: .5rem 0;
}

.info details {
    cursor: pointer;
    margin: .5rem;
}

.info ul {
    list-style: none;
}

.info .consigna li{
    display: table-cell;
}

.info p span {
    font-weight: 900;
}